#navigasi {
	background-color: #313131;
	padding-top: 50px;
}
#status1 {
    border: 20px solid red;
    border-radius: 20px;
    border-width: 30px 10px 4px 8px;
 	border-color: #F9B7B7;
 	background-color: #F9B7B7;
 }